<section class="profile-info section">
    <div class="banner">
      <img src="{{ banner?.banner_img }}" alt="Banner Image">
      <button class="animated banner-button" type="button" data-bs-toggle="modal" data-bs-target="#edit-user-modal" (click)="modificar()" *ngIf="isUserLogged">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
    </div>
    <div class="info">
      <div class="info-left">
        <img src="{{ banner?.profile_img }}" alt="Profile Photo">
        <h2><strong>{{ banner?.name }}</strong></h2>
        <h3>{{ banner?.post }}</h3>
        <h4>{{ banner?.address }}</h4>
      </div>
      <div class="info-right">
        <div class="estudios" *ngFor="let estudio of educaciones">
          <img src="{{ estudio.img }}" alt="Logo Pellegrini">
          <h4>{{ estudio.title }}</h4>
        </div>        
      </div>
    </div>
</section>

<div class="modal fade" id="edit-user-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="isUserLogged">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos de Usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]='editarBanner' class="edit-form" (ngSubmit)="guardarBanner(editarBanner.value)">
            <input type="hidden" formControlName="id">

            <input type="hidden" formControlName="about">

            <label for="name"><strong>Nombre:</strong></label>
            <input type="text" [ngClass]="{'is-invalid': Name?.errors && Name?.touched, 'is-valid': !Name?.errors && Name?.touched}" class="form-control" name="name" id="name" placeholder="Nombre" formControlName="name">
            <div *ngIf="Name?.errors && Name?.touched">
              <p *ngIf="Name?.hasError('required')" class="text-danger">El nombre es requerido</p>
            </div>

            <label for="address"><strong>Direccion:</strong></label>
            <input type="text" name="address" id="address" placeholder="Direccion" formControlName="address" [ngClass]="{'is-invalid': Address?.errors && Address?.touched, 'is-valid': !Address?.errors && Address?.touched}" class="form-control">
            <div *ngIf="Address?.errors && Address?.touched">
              <p *ngIf="Address?.hasError('required')" class="text-danger">La dirección es requerida</p>
            </div>

            <label for="post"><strong>Puesto:</strong></label>
            <input type="text" name="post" id="post"  placeholder="Puesto" formControlName="post" [ngClass]="{'is-invalid': Post?.errors && Post?.touched, 'is-valid': !Post?.errors && Post?.touched}" class="form-control">
            <div *ngIf="Post?.errors && Post?.touched">
              <p *ngIf="Post?.hasError('required')" class="text-danger">El puesto es requerido</p>
            </div>

            <label for="profile_img"><strong>Imagen de perfil:</strong></label>
            <input type="text" name="profile_img" id="profile_img" placeholder="Imagen de perfil" formControlName="profile_img" [ngClass]="{'is-invalid': Profile_img?.errors && Profile_img?.touched, 'is-valid': !Profile_img?.errors && Profile_img?.touched}" class="form-control">
            <div *ngIf="Profile_img?.errors && Profile_img?.touched">
              <p *ngIf="Profile_img?.hasError('required')" class="text-danger">La imagen de perfil es requerida</p>
            </div>

            <label for="banner_img"><strong>Imagen de banner:</strong></label>
            <input type="text" name="banner_img" id="banner_img" placeholder="Imagen de banner" formControlName="banner_img" [ngClass]="{'is-invalid': Banner_img?.errors && Banner_img?.touched, 'is-valid': !Banner_img?.errors && Banner_img?.touched}" class="form-control">
            <div *ngIf="Banner_img?.errors && Banner_img?.touched">
              <p *ngIf="Banner_img?.hasError('required')" class="text-danger">La imagen de banner es requerida</p>
            </div>

            <label for="linkedin"><strong>Url de linkedin:</strong></label>
            <input type="text" name="linkedin" id="linkedin"  placeholder="Url de linkedin" formControlName="linkedin" [ngClass]="{'is-invalid': Linkedin?.errors && Linkedin?.touched, 'is-valid': !Linkedin?.errors && Linkedin?.touched}" class="form-control">
            <div *ngIf="Linkedin?.errors && Linkedin?.touched">
              <p *ngIf="Linkedin?.hasError('required')" class="text-danger">El linkedin es requerido</p>
            </div>

            <label for="instagram"><strong>Url de instagram:</strong></label>
            <input type="text" name="instagram" id="instagram"  placeholder="Url de instagram" formControlName="instagram" [ngClass]="{'is-invalid': Instagram?.errors && Instagram?.touched, 'is-valid': !Instagram?.errors && Instagram?.touched}" class="form-control">
            <div *ngIf="Instagram?.errors && Instagram?.touched">
              <p *ngIf="Instagram?.hasError('required')" class="text-danger">El instagram es requerido</p>
            </div>

            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>