<nav class="navbar fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">PABLO BOTTINELLI</a>
      <form class="d-flex" role="search">
        <a href="https://www.linkedin.com/in/pablo-bottinelli/" target="_blank"><img class='ig-logo' src="assets/linkedin.png" alt="LinkedIn Logo"></a>
        <a href="https://www.instagram.com/bottinellipablo/" target="_blank"><img class='ig-logo' src="assets/instagram.png" alt="Instagram Logo"></a>
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
</nav>
