<section class="experience section">
    <h2><strong>Experiencia</strong> <button class="animated" type="button" data-bs-toggle="modal" data-bs-target="#create-exp-modal" style="border:none;background-color:transparent;padding-left: 5px;" (click)="vaciar()" *ngIf="isUserLogged"><i class="fa-regular fa-plus"></i></button></h2>
    <div class="card mb-3" *ngFor="let exp of experiences">
      <div class="row g-0">
        <div class="col-md-1">
          <img src="{{exp.img}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><strong>{{ exp.post }}</strong></h5>
            <p class="card-text">{{ exp.company }}</p>
            <p class="card-text"><small class="text-muted">{{ exp.desde }} - {{ exp.hasta }}</small></p>
          </div>
        </div>
        <div class="col-md-2 edit-buttons">
          <div>
            <button class="animated" type="button" data-bs-toggle="modal" attr.data-bs-target="#edit-exp-modal{{exp.id}}" (click)="modificar(exp.id)" *ngIf="isUserLogged"><i class="fa-regular fa-pen-to-square"></i></button>
          </div>
          <div>
            <button class="animated" type="button" data-bs-toggle="modal" attr.data-bs-target="#delete-exp-modal{{exp.id}}" *ngIf="isUserLogged"><i class="fa-regular fa-trash-can"></i></button>
          </div>
        </div>
      </div>

      <!-- MODAL -->
      <div class="modal fade" id="edit-exp-modal{{exp.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="isUserLogged">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos de Experiencia</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]='editarExperiencia' class="edit-form" (ngSubmit)="guardarExperiencia(editarExperiencia.value)">
                  <input type="hidden" formControlName="id">

                  <label for="company"><strong>Empresa:</strong></label>
                  <input type="text" name="company" id="company{{exp.id}}" formControlName="company" placeholder="Empresa" [ngClass]="{'is-invalid': Company?.errors && Company?.touched, 'is-valid': !Company?.errors && Company?.touched}" class="form-control">
                  <div *ngIf="Company?.errors && Company?.touched">
                    <p *ngIf="Company?.hasError('required')" class="text-danger">La empresa es requerida</p>
                  </div>

                  <label for="img"><strong>Imagen:</strong></label>
                  <input type="text" name="img" id="img_exp{{exp.id}}" formControlName="img" placeholder="Imagen"[ngClass]="{'is-invalid': Img?.errors && Img?.touched, 'is-valid': !Img?.errors && Img?.touched}" class="form-control">
                  <div *ngIf="Img?.errors && Img?.touched">
                    <p *ngIf="Img?.hasError('required')" class="text-danger">La imagen es requerida</p>
                  </div>

                  <label for="post"><strong>Puesto:</strong></label>
                  <input type="text" name="post" id="post_exp{{exp.id}}" formControlName="post" placeholder="Puesto" [ngClass]="{'is-invalid': Post?.errors && Post?.touched, 'is-valid': !Post?.errors && Post?.touched}" class="form-control">
                  <div *ngIf="Post?.errors && Post?.touched">
                    <p *ngIf="Post?.hasError('required')" class="text-danger">El puesto es requerido</p>
                  </div>

                  <label for="desde"><strong>Desde:</strong></label>
                  <input type="number" name="desde" id="desde_exp{{exp.desde}}" placeholder="Desde" formControlName="desde" [ngClass]="{'is-invalid': Desde?.errors && Desde?.touched, 'is-valid': !Desde?.errors && Desde?.touched}" class="form-control">
                  <div *ngIf="Desde?.errors && Desde?.touched">
                    <p *ngIf="Desde?.hasError('required')" class="text-danger">El año de inicio es requerido</p>
                    <p *ngIf="Desde?.errors?.['desdeMayorHasta']" class="text-danger">El año de inicio no puede ser mayor al de fin.</p>
                  </div>

                  <label for="hasta"><strong>Hasta:</strong></label>
                  <input type="number" name="hasta" id="hasta_exp{{exp.hasta}}" placeholder="Hasta" formControlName="hasta" [ngClass]="{'is-invalid': Hasta?.errors && Hasta?.touched, 'is-valid': !Hasta?.errors && Hasta?.touched}" class="form-control">
                  <div *ngIf="Hasta?.errors && Hasta?.touched">
                    <p *ngIf="Hasta?.hasError('required')" class="text-danger">El año de fin es requerido</p>
                    <p *ngIf="Hasta?.errors?.['hastaMenorDesde']" class="text-danger">El año de fin no puede ser menor al de inicio.</p>
                    <p *ngIf="Hasta?.errors?.['mayorAFechaActual']" class="text-danger">El año de fin no puede ser mayor al actual.</p>
                  </div>

                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!editarExperiencia.valid">Guardar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="delete-exp-modal{{exp.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="isUserLogged">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Borrar datos de Experiencia</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Esto eliminará los datos de {{exp.company}} permanentemente</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="borrarExperiencia(exp.id)" data-bs-dismiss="modal">Confirmar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="create-exp-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="isUserLogged">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Experiencia</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editarExperiencia" class="edit-form" (ngSubmit)="crearExperiencia(editarExperiencia.value)">
                  <label for="company"><strong>Empresa:</strong></label>
                  <input type="text" name="company" id="create_company_exp" placeholder="Empresa" formControlName="company" [ngClass]="{'is-invalid': Company?.errors && Company?.touched, 'is-valid': !Company?.errors && Company?.touched}" class="form-control">
                  <div *ngIf="Company?.errors && Company?.touched">
                    <p *ngIf="Company?.hasError('required')" class="text-danger">La empresa es requerida</p>
                  </div>

                  <label for="img"><strong>Imagen:</strong></label>
                  <input type="text" name="img" id="create_img_exp" placeholder="Imagen" formControlName="img" [ngClass]="{'is-invalid': Img?.errors && Img?.touched, 'is-valid': !Img?.errors && Img?.touched}" class="form-control">
                  <div *ngIf="Img?.errors && Img?.touched">
                    <p *ngIf="Img?.hasError('required')" class="text-danger">La imagen es requerida</p>
                  </div>

                  <label for="post"><strong>Puesto:</strong></label>
                  <input type="text" name="post" id="create_post_exp" placeholder="Puesto" formControlName="post" [ngClass]="{'is-invalid': Post?.errors && Post?.touched, 'is-valid': !Post?.errors && Post?.touched}" class="form-control">
                  <div *ngIf="Post?.errors && Post?.touched">
                    <p *ngIf="Post?.hasError('required')" class="text-danger">El puesto es requerido</p>
                  </div>

                  <label for="desde"><strong>Desde:</strong></label>
                  <input type="number" name="desde" id="create_desde" placeholder="Desde" formControlName="desde" [ngClass]="{'is-invalid': Desde?.errors && Desde?.touched, 'is-valid': !Desde?.errors && Desde?.touched}" class="form-control">
                  <div *ngIf="Desde?.errors && Desde?.touched">
                    <p *ngIf="Desde?.hasError('required')" class="text-danger">El año de inicio es requerido</p>
                    <p *ngIf="Desde?.errors?.['desdeMayorHasta']" class="text-danger">El año de inicio no puede ser mayor al de fin.</p>
                    <p *ngIf="Desde?.errors?.['mayorAFechaActual']" class="text-danger">El año de inicio no puede ser mayor al actual.</p>
                  </div>

                  <label for="hasta"><strong>Hasta:</strong></label>
                  <input type="number" name="hasta" id="create_hasta" placeholder="Hasta" formControlName="hasta" [ngClass]="{'is-invalid': Hasta?.errors && Hasta?.touched, 'is-valid': !Hasta?.errors && Hasta?.touched}" class="form-control">
                  <div *ngIf="Hasta?.errors && Hasta?.touched">
                    <p *ngIf="Hasta?.hasError('required')" class="text-danger">El año de fin es requerido</p>
                    <p *ngIf="Hasta?.errors?.['hastaMenorDesde']" class="text-danger">El año de fin no puede ser menor al de inicio.</p>
                    <p *ngIf="Hasta?.errors?.['mayorAFechaActual']" class="text-danger">El año de fin no puede ser mayor al actual.</p>
                  </div>

                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!editarExperiencia.valid">Guardar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  