@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}
/* NAV */
.navbar{
    background-color: rgb(245, 240, 240);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.relleno{
    width: 100%;
    height: 56px;
}
.navbar-brand{
    font-family: 'Bungee Spice', cursive;
}
.ig-logo{
    width: 38px;
    height: auto;
    margin-right: 10px;
    transition: all 500ms ease;
}
.ig-logo:hover{
    transform: scale(1.2);
}
.btn-login{
    background-color:#19bc4a;
    border: none;
}
.btn-login:hover{
    background-color: #16a340;
}
/* BANNER */
.section{
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 98%;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    overflow: hidden;
}
.banner {
    height: 300px;
    background-color: #f2f2f2;
    text-align: center;
    position: relative;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
/* INFO DE PERFIL */
.info{
    position: relative;
    top: -110px;
    padding-bottom: -90px;
}
.info-left{
    text-align: left;
    width: 50%;
    float: left;
    padding-left: 50px;
}
.info-left h2{
    margin-bottom: 5px;
}
.info-left h3{
    font-size: 25px;
    margin-bottom: 13px;
}
.info-left h4{
    font-size: 18px;
}
.info-left img{
    width: 190px;
    border-radius: 100%;
    margin-bottom: 15px;
}
.info-right{
    float: right;
    width: 50%;
    text-align: left;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: middle;
    padding-top: 180px;
    margin-right: 40px;
}
.estudios{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.info-right img{
    width: 60px;
    height: auto;
    margin-right: 15px;
}
.info-right h4{
    width: 70%;
    display: inline;
    font-size: 20px;
}
.profile-info{
    height: 600px;
}
/* SOBRE MI */
.about, .experience, .education, .skills, .proyects{
    padding: 50px;
}
.about p{
    font-size: 20px;
}

/* EXPERIENCIA */
.card{
    border: none;
}
.img-fluid{
    width: 80px;
    margin-top: 18px;
}
section h2{
    margin-bottom: 25px;
}
.card-text{
    margin-bottom: 5px;
}

/* SKILLS */
.progress{
    background-color: #e0e2e4;
}

.skill{
    padding-bottom: 20px;
}
.skills h3{
    font-family: 'Kanit', sans-serif;
}

/* PROYECTOS */
.proyect-card{
    background-color: #ebecee;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.card-body p{
    margin-bottom: 10px;
}

/* FOOTER */
footer{
    background-color: rgb(245, 240, 240);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 10px; 
    text-align: center;
}
footer p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

/* 404 */   
.error404 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.error404 div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.error404 h1{
    color: white;
    font-size: 120px;
}
.error404 h2{
    color: white;
    font-size: 90px;
}

/* Edit Buttons */
.edit-buttons div{
    text-align: right;
}
.edit-buttons button{
    border: none;
    background-color:transparent;
}
button{
    transition: all 500ms ease;
}
.animated:hover{
    color: rgb(100, 100, 100);
    transform: scale(1.15);
}
button i{
    font-size: 25px;
    padding: 10px;
}
.skill-buttons div{
    width: 5%;
    float: right;
}
.proyects-buttons button{
    border: none;
    background-color:transparent;
}
.card-body .content{
    display: inline-block;
    width: 80%;
}
.card-body .proyects-buttons{
    display: inline-block;
    width: 20%;
    text-align: right;
}
.banner-button{
    position: absolute;
    color: white;
    z-index: 99;
    background-color: transparent;
    border: none;
    float: right;
    left: 95%;
    top: 10%;
}
.banner-button:hover{
    color: white;
}

/* Edit Forms */
.edit-form label{
    display: block;
}
.edit-form{
    width: 80%;
    margin: auto;
}
.edit-form input{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    padding: 6px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
}