<section class="education section">
    <h2><strong>Educación</strong> <button class="animated" type="button" data-bs-toggle="modal" data-bs-target="#create-education-modal" style="border:none;background-color:transparent;padding-left: 5px;" (click)="vaciar()"  *ngIf="isUserLogged"><i class="fa-regular fa-plus"></i></button></h2>
    <div class="card mb-3" *ngFor="let ed of educations">
      <div class="row g-0">
        <div class="col-md-1">
          <img src="{{ ed.img }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><strong>{{ ed.institution }}</strong></h5>
            <p class="card-text">{{ ed.title }}</p>
            <p class="card-text"><small class="text-muted">{{ ed.desde }} - {{ ed.hasta }}</small></p>
          </div>
        </div> 
        <div class="col-md-2 edit-buttons">
          <div>
            <button class="animated" type="button" data-bs-toggle="modal" attr.data-bs-target="#edit-education-modal{{ed.id}}" (click)="modificar(ed.id)"  *ngIf="isUserLogged"><i class="fa-regular fa-pen-to-square"></i></button>
          </div>
          <div>
            <button class="animated" type="button" data-bs-toggle="modal" attr.data-bs-target="#delete-education-modal{{ed.id}}"  *ngIf="isUserLogged"><i class="fa-regular fa-trash-can"></i></button>
          </div>
        </div>
      </div>

      <!-- MODAL -->
      <div class="modal fade" id="edit-education-modal{{ed.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="isUserLogged">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos de Educación</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]='editarEducacion' class="edit-form" (ngSubmit)="guardarEducacion(editarEducacion.value)">
                  <input type="hidden" formControlName="id">

                  <label for="institution"><strong>Institucion:</strong></label>
                  <input type="text" name="institution" id="institution{{ed.id}}" placeholder="Institucion" formControlName="institution" [ngClass]="{'is-invalid': Institution?.errors && Institution?.touched, 'is-valid': !Institution?.errors && Institution?.touched}" class="form-control">
                  <div *ngIf="Institution?.errors && Institution?.touched">
                    <p *ngIf="Institution?.hasError('required')" class="text-danger">La Institución es requerida</p>
                  </div>

                  <label for="img"><strong>Imagen:</strong></label>
                  <input type="text" name="img" id="img_ed{{ed.id}}" placeholder="Imagen" formControlName="img"[ngClass]="{'is-invalid': Img?.errors && Img?.touched, 'is-valid': !Img?.errors && Img?.touched}" class="form-control">
                  <div *ngIf="Img?.errors && Img?.touched">
                    <p *ngIf="Img?.hasError('required')" class="text-danger">La imagen es requerida</p>
                  </div>

                  <label for="title"><strong>Titulo:</strong></label>
                  <input type="text" name="title" id="title" placeholder="Titulo" formControlName="title" [ngClass]="{'is-invalid': Title?.errors && Title?.touched, 'is-valid': !Title?.errors && Title?.touched}" class="form-control">
                  <div *ngIf="Title?.errors && Title?.touched">
                    <p *ngIf="Title?.hasError('required')" class="text-danger">El título es requerido</p>
                  </div>

                  <label for="desde"><strong>Desde:</strong></label>
                  <input type="number" name="desde" id="desde_ed{{ed.desde}}" placeholder="Desde" formControlName="desde" [ngClass]="{'is-invalid': Desde?.errors && Desde?.touched, 'is-valid': !Desde?.errors && Desde?.touched}" class="form-control">
                  <div *ngIf="Desde?.errors && Desde?.touched">
                    <p *ngIf="Desde?.hasError('required')" class="text-danger">El año de inicio es requerido</p>
                    <p *ngIf="Desde?.errors?.['desdeMayorHasta']" class="text-danger">El año de inicio no puede ser mayor al de fin.</p>
                    <p *ngIf="Desde?.errors?.['mayorAFechaActual']" class="text-danger">El año de inicio no puede ser mayor al actual.</p>
                  </div>

                  <label for="hasta"><strong>Hasta:</strong></label>
                  <input type="number" name="hasta" id="hasta_ed{{ed.hasta}}" placeholder="Hasta" formControlName="hasta" [ngClass]="{'is-invalid': Hasta?.errors && Hasta?.touched, 'is-valid': !Hasta?.errors && Hasta?.touched}" class="form-control">
                  <div *ngIf="Hasta?.errors && Hasta?.touched">
                    <p *ngIf="Hasta?.hasError('required')" class="text-danger">El año de fin es requerido</p>
                    <p *ngIf="Hasta?.errors?.['hastaMenorDesde']" class="text-danger">El año de fin no puede ser menor al de inicio.</p>
                    <p *ngIf="Hasta?.errors?.['mayorAFechaActual']" class="text-danger">El año de fin no puede ser mayor al actual.</p>
                  </div>

                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!editarEducacion.valid">Guardar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="delete-education-modal{{ed.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="isUserLogged">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Borrar datos de Educación</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Esto eliminará los datos de {{ed.institution}} permanentemente</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="borrarEducacion(ed.id)" data-bs-dismiss="modal">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="create-education-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="isUserLogged">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Educación</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]='editarEducacion' class="edit-form" (ngSubmit)="crearEducacion(editarEducacion.value)">
                  <label for="institution"><strong>Institucion:</strong></label>
                  <input type="text" name="institution" id="create_institution_ed" placeholder="Institucion" formControlName="institution" [ngClass]="{'is-invalid': Institution?.errors && Institution?.touched, 'is-valid': !Institution?.errors && Institution?.touched}" class="form-control">
                  <div *ngIf="Institution?.errors && Institution?.touched">
                    <p *ngIf="Institution?.hasError('required')" class="text-danger">La Institución es requerida</p>
                  </div>

                  <label for="img"><strong>Imagen:</strong></label>
                  <input type="text" name="img" id="create_img_ed" placeholder="Imagen" formControlName="img" [ngClass]="{'is-invalid': Img?.errors && Img?.touched, 'is-valid': !Img?.errors && Img?.touched}" class="form-control">
                  <div *ngIf="Img?.errors && Img?.touched">
                    <p *ngIf="Img?.hasError('required')" class="text-danger">La imagen es requerida</p>
                  </div>

                  <label for="title"><strong>Titulo:</strong></label>
                  <input type="text" name="title" id="create_title_ed" placeholder="Titulo" formControlName="title" [ngClass]="{'is-invalid': Title?.errors && Title?.touched, 'is-valid': !Title?.errors && Title?.touched}" class="form-control">
                  <div *ngIf="Title?.errors && Title?.touched">
                    <p *ngIf="Title?.hasError('required')" class="text-danger">El título es requerido</p>
                  </div>

                  <label for="desde"><strong>Desde:</strong></label>
                  <input type="number" name="desde" id="create_desde_ed" placeholder="Desde" formControlName="desde" [ngClass]="{'is-invalid': Desde?.errors && Desde?.touched, 'is-valid': !Desde?.errors && Desde?.touched}" class="form-control">
                  <div *ngIf="Desde?.errors && Desde?.touched">
                    <p *ngIf="Desde?.hasError('required')" class="text-danger">El año de inicio es requerido</p>
                    <p *ngIf="Desde?.errors?.['desdeMayorHasta']" class="text-danger">El año de inicio no puede ser mayor al de fin.</p>
                  </div>

                  <label for="hasta"><strong>Hasta:</strong></label>
                  <input type="number" name="hasta" id="create_hasta_ed" placeholder="Hasta" formControlName="hasta" [ngClass]="{'is-invalid': Hasta?.errors && Hasta?.touched, 'is-valid': !Hasta?.errors && Hasta?.touched}" class="form-control">
                  <div *ngIf="Hasta?.errors && Hasta?.touched">
                    <p *ngIf="Hasta?.hasError('required')" class="text-danger">El año de fin es requerido</p>
                    <p *ngIf="Hasta?.errors?.['hastaMenorDesde']" class="text-danger">El año de fin no puede ser menor al de inicio.</p>
                    <p *ngIf="Hasta?.errors?.['mayorAFechaActual']" class="text-danger">El año de fin no puede ser mayor al actual.</p>
                  </div>

                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!editarEducacion.valid">Crear</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>